<div class="container">
  <div class="row">
    <div class="form-container col-sm-6 col-sm-offset-3">

      <div class="text-center">
      <h3>Create your Workshop</h3>
      </div>

      <%= render 'workshop_form' %>

    </div>

  </div>
</div>
