.banner-home {
  height: 80vh;
  background-size: cover !important;
  background-position: center-center;
  background-image: image-url('banner13.jpg');
}

.banner-content {
  position: absolute;
  right: 15vh;
  top: 15vh;
  width: 300px;
  h1 {
    color: #FF00FF;
    font-size: 70px;
    font-weight: bolder;
  };
  p {
    color: white;
    font-size: 20px;
    font-weight: lighter;
    padding-top: 10px;
  }
}


