<div class="banner-home" style="">
  <div class="banner-content">
    <h1>Travel Inspires</h1>
    <p >Allow your Inspiration to live abroad, Sub-Rent your Workshop when you travel and Meet other artists.</p>
  </div>
</div>
