<div class="banner-home" style="">
  <div class="banner-content">
    <h1>Travel Inspires</h1>
    <p >Allow your Inspiration to live abroad, Sub-Rent your Workshop when you travel and Meet other artists.</p>
    <div class="flex-icons">
      <div class="icon1"></div>
      <div class="icon2"></div>
      <div class="icon3"></div>

    </div>
    <form class="form-inline">
      <div class="form-group">
        <input type="text" class="form-control" id="exampleInputName2" placeholder="Email">
      </div>
      <button type="submit" class="btn btn-special btn-sm text-center">Subscribe Now!</button>
    </form>

  </div>
</div>
